:root {
	--bck-clr: #0068ff;
	--gray: #c8c8c8;
	--white: #fff;

	--radius: 10px;

	--shadow: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	align-items: center;
	background-color: var(--bck-clr);
	display: flex;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
}
